<ion-view title="Landing" id="page5">
  <ion-content padding="true" class="has-header">
    <div>
      <a style="display:block;" ui-sref="studentLogin()">
        <img src="img/qphVnvsTNi9OC8RhgIDw_download1.jpeg" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div>
      <a style="display:block;" ui-sref="volunteerLogin()">
        <img src="img/CVzPTqI0SX2TKhXzEZkN_download.png" style="display: block; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>