<ion-view title="Student Login" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="studentLogin-form2" class="list">
      <ion-list id="studentLogin-list1">
        <label class="item item-input" id="studentLogin-input1">
          <span class="input-label">Mobile</span>
          <input type="tel" placeholder="9823141589">
        </label>
        <label class="item item-input" id="studentLogin-input2">
          <span class="input-label">OTP</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="tabsController.home()" id="studentLogin-button1" class="button button-stable button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>