<ion-view title="Volunteer Login" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="volunteerLogin-form3" class="list">
      <ion-list id="volunteerLogin-list2">
        <label class="item item-input" id="volunteerLogin-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="women@mail.com">
        </label>
        <label class="item item-input" id="volunteerLogin-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="vHome()" id="volunteerLogin-button3" class="button button-stable button-block">Log in</a>
    </form>
  </ion-content>
</ion-view>